<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
    http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <!--扫描service-->
    <context:component-scan base-package="com.song.service"/>

    <!--缓存-->
    <!--自定义主键生成策略-->
    <bean id="keyGenerator" class="com.song.cache.keyGenerator.CustomKeyGenerator"/>

    <!--启用Spring对基于注解的Cache的支持-->
    <cache:annotation-driven cache-manager="cacheManager" key-generator="keyGenerator"/>

    <!--cacheManager配置方式一:可以配置多个缓存-->
    <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
               <!-- <bean class="com.song.cache.ObjectRedisCache">
                    <property name="redisTemplate" ref="redisTemplate"/>
                    <property name="name" value="customObjectRedisCache"/>
                </bean>-->
                <bean class="org.springframework.data.redis.cache.RedisCache">
                    <!--默认false-->
                    <constructor-arg name="allowNullValues" value="false"/>
                    <constructor-arg name="expiration" value="100000"/>
                    <constructor-arg name="redisOperations" ref="redisTemplate"/>
                    <constructor-arg name="name" value="redisCache"/>
                    <constructor-arg name="prefix" value=""/>
                </bean>
            </set>
        </property>
    </bean>

    <!--cacheManager配置方式二:只能使用redis作缓存,且只能配置一个-->
   <!-- <bean id="cacheManager" class="org.springframework.data.redis.cache.RedisCacheManager">
        <constructor-arg name="redisOperations" ref="redisTemplate"/>
        <property name="cacheNames" value="redis"/>
    </bean>-->
</beans>